.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('/top-img.jpg');
  background-size: cover;
}

.top-hero-container {
  padding-top: 100px;
}

.logo {
  color: white;
  font-size: 100px;
}

.discription {
  color: white;
}

.row {
  margin-top: 100px;
}
