.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('/top-img.jpg');
  background-size: cover;
}

.top-hero-container {
  padding-top: 100px;
}

.logo {
  color: white;
  font-size: 100px;
  letter-spacing: 20px;
}

.discription {
  color: white;
}

.logo-discription {
  color: white;
}

.row {
  margin-top: 100px;
}

.btn-white {
  background-color: white;
  color: black;
  opacity: 0.5;

}

.btn-white:hover {
  opacity: 1;
}


.content-discription {
  width: 250px;
  height: 100px;
  background-color: white;
  opacity: 0.7;
  text-align: left;
}

.discription {
  color: black;
}


.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('/register-img.jpg');
  background-size: cover;
}

.users-new-logo {
  color: white;
  margin-top: 100px;
  letter-spacing: 20px;
}


.users-show-container {
  background-color: gray;
}

.navbar-transparent {
  opacity: 0.6;
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 30px;
  color: white;
}

.alert {
  margin-bottom: 0;
}
